* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    display: flex;
    background-color: hsl(210, 46%, 95%);
    justify-content: center;
    align-items: center;
}
/* -------------------- */
.article {
    display: flex;  
    width: 700px;
    height: 250px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 02);
    margin: 20px;
}
.article .big-img {
    width: 40%;
    height: 100%;
    border-radius: 10px 0 0 10px;
}
/* ------------------------ */
.article .text {
    font-family: 'Manrope', sans-serif;
    color: hsl(217, 19%, 35%);
}
.article .text h2 {
    height: 100px;
    font-size: 20px;
    font-weight: 700;
    margin: 25px 25px 0 25px;
}
.article .text p {
    height: 53px;
    font-size: 13px;
    font-weight: 500;
    margin: 0 25px;
}
/* ------------------------------ */
.article .social {
    display: flex;
    height: 72px;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
}
.article .social .user {
    display: flex;
}
.article .social .user img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
}
.article .social .user .data {
    padding-left: 15px;
}
.article .social .user .data .user-name {
    font-size: 12px;
    font-weight: 700;
}
.article .social .user .data .date {
    font-size: 10px;
    font-weight: 500;
}
/* -----SOCIAL SHARE BUTTON------ */
.article .social .share img {
    width: 18px;
    height: 14px;
}
.article .social .share {
    width: 38px;
    height: 38px;
    background-color: hsl(210, 46%, 95%);
    border-radius: 50%;
    border: none;
    outline: none;
}
.article .social .share:hover {
    cursor: pointer;
    background-color: hsla(217, 19%, 35%, 0.507);
    transform: scale(1.1);
}
.attribution {
    position: absolute;
    align-self: flex-end;
    margin-bottom: 10px;
}
/* -------------------------------------- */

.modal-container {
    position: fixed;
    left: 60%;
    top: 51%;
    display: none;
    justify-content: space-around;
    align-items: center;
    width: 250px;
    height: 50px;
    background-color: hsl(217, 19%, 35%);
    border-radius: 10px;
    padding: 10px;
}
.modal-container span {
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
    color: hsl(210, 46%, 95%);
}